doctype html
html
    head
        meta(charset="utf-8")
        title Clappr Demo
        script(src="https://cdn.jsdelivr.net/clappr/latest/clappr.min.js")
        script(src="https://cdn.jsdelivr.net/clappr.thumbnails-plugin/latest/clappr-thumbnails-plugin.js")

    body
        div#player
        script.
            var thumbs = [];
            for (var i = 0; i < #{duration}; i += #{delta}) {
                thumbs.push({
                    time: i,
                    url: `/uploads/movie/#{movie.name}/#{movie.filename}-at-${i}-seconds.png`
                });
            }
            var player = new Clappr.Player({
                width: 640, height: 360,
                //进度条缩略图
                plugins: [
                    ClapprThumbnailsPlugin
                ],
                scrubThumbnails: {
                    backdropHeight: 64,
                    spotlightHeight: 84,
                    thumbs: thumbs
                },
                source: "/uploads/movie/#{movie.name}/#{movie.filename}",
                poster: "/uploads/movie/#{movie.name}/#{movie.name}.jpg",
                watermark: "/images/watermark.gif", position: 'top-right',
                watermarkLink: "http://www.baidu.com/",
                parentId: "#player"
            });
