extends ../layout.jade

block title
	title 首页
    
    
block css
	link(rel="stylesheet", href="stylesheet/css/page/index.css")


block content
	div.content-wrapper
		div.content-nav
			span.active 首页
			span 时下流行
			span 可选内容
		div
			div.list
				h2
					a 我是主题
				div.playlist
					
					each val, index in movies
						div.temp
							a(href="/clappr/#{val.name}",target="_blank")
								img(src="uploads/movie/#{val.name}/#{val.name}.jpg")
							a.p-name(href="/clappr/#{val.name}",target="_blank") #{val.name}
							a.up-name 我是上传者
							ul
								li.watch 11111次观看
								li.date 5天前
					
					


block js
